{% extends "base.html" %}
{% load static %}

{% block title %}
Blog Page
{% endblock %} 

{% block style %} 
<link rel="stylesheet" href="{% static "blog/post.css" %}"> 
<link rel="stylesheet" href="{% static "blog/index.css" %}"> 
{% endblock style %} 

{% block body %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/max.png" %}" alt="Sam - Author of this
    blog">
    <h2>SAM'S BLOG</h2>
  </header>
  <p>Hello, this is Sam and I like to blog about technology and the world.</p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>
  <ul>
    {% for post in posts %}
    {% include "blog/includes/post.html" %}

    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What I do</h2>
  <p>
    I love programming and I love helping others and I enjoy exploring new
    technologies in general!
  </p>
  <p>
    My goal is to keep on growing as a developer - and if I could help you do
    the same, I would be very happy!
  </p>
</section>

{% endblock body %}
